body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: red;
}

.App {
  text-align: center;
  width: 800px;  height: auto;
  margin: auto;
  margin-top: 20px;
  background-color: yellow;
  border-radius: 20px;
  border-style: groove;
  border-color: white;
  
}

.TimeActions{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 40px;
  padding-bottom: 30px;
  
}

.TimeAction{
  border: none;
  padding: 10px;
  width: 200px;
  margin: 0 2px;
  border-radius: 5px;
  cursor: pointer;

  background-color: red;
  color: white;
}
.TimeActions .Conta{
  border: none;
  padding: 10px;
  width: 80px;
  margin: 0 2px;
  border-radius: 5px;
  cursor: pointer;

  background-color: black;
  color: white;
}

.TimeList {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.TimeList li {
  padding: 5px;
  border-bottom: solid 1px #bdc3c7;
}

.TimeList li .TimeViewer {
  text-align: left;
}